@import "colors/colors.css";

* {
  font-family: "Symbols Nerd Fonts Mono", "Maple Mono NF CN";
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background-color: alpha(@mantle, 0.72);
  color: @text;
  margin: 0;
  border-radius: 0;
  border-top: 1px solid alpha(@surface1, 0.5);
}

#workspaces {
  border-radius: 1rem;
  margin: 1px 0px;
  background-color: @surface0;
  margin-left: 16px;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 5px 8px;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
  background-color: alpha(@surface1, 0.65);
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
  background-color: alpha(@surface1, 0.4);
}

#custom-music,
#tray,
#cpu,
#memory,
#temperature,
#network,
#backlight,
#clock,
#custom-swaync,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: alpha(@surface0, 0.88);
  padding: 5px 12px;
  margin: 1px 0px;
}

#cpu {
  color: @teal;
  border-radius: 1rem 0 0 1rem;
  margin-left: 16px;
}

#memory {
  color: @green;
  border-radius: 0;
}

#temperature {
  color: @peach;
  border-radius: 0 1rem 1rem 0;
  margin-right: 16px;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 16px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#network {
  color: @sky;
  border-radius: 1rem 0 0 1rem;
  margin-left: 16px;
}

#pulseaudio {
  color: @maroon;
  border-radius: 0;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-swaync {
  border-radius: 1rem 0px 0px 1rem;
  color: @blue;
  padding-right: 10px;
}

#custom-lock {
  border-radius: 0;
  color: @lavender;
  padding-left: 10px;
  padding-right: 14px;
}

#custom-power {
  margin-right: 16px;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
  padding-left: 14px;
}

#backlight {
  border-radius: 0;
}

#tray {
  margin-right: 16px;
  border-radius: 1rem;
}
